$icon-sprite-dimensions: true;
@import "icon/*.png";
@include all-icon-sprites;

.links a, .course .icon-info, .course .icon-remove {
  display: inline-block;
  @include hide-text;
}

a.show-hide {
  position: absolute;
  display: block;
  @include hide-text;

  @include icon-sprite(up);
  &.other {
    @include icon-sprite(download);
  }
}

.completed a.show-hide, .hiding a.show-hide {
  @include icon-sprite(download);

  &.other {
    @include icon-sprite(up);
  }
}

a.icon-add.other {
  opacity: 0.5;
}
