
#semesters {
  float: left;
  width: 65%;

  .completed legend {
    color: green;
  }

  .in_progress legend {
    color: darken(yellow, 15%);
  }

  fieldset {
    overflow: auto;
    background: white;
  }

  legend {
    font-weight: bold;
  }

  .links {
    clear: both;
  }

  $block_height: 225px;
  $block_width: 250px;

  .courses {
    overflow-y: auto;
    height: $block_height - 60px;
  }

  .course {
    padding: 1px;
    &.selected {
      padding: 0;
      background: lighten(green, 65%);
      border: 1px solid green;
    }
  }

  .ui-state-highlight, .semester {
    height: $block_height;
    margin: 10px;
    width: $block_width;
    float: left;
  }

  .ui-state-highlight {
    /* Account for the 1 px border around highlight */
    overflow: auto;
    height: $block_height - 2px;
    width: $block_width - 2px;
  }
}

#majors {
  float: right;
  width: 33%;

  dt {
    font-weight: bold;
  }

  ul {
    display: none;
  }

  .req {
    margin: 2px;
    margin-left: 15px;
  }

  .name {
    width: 100%;
    display: inline-block;
    padding: 3px;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: lighten(black, 50%);
    }
  }

  .finished {
    background: lighten(green, 65%);
    border: 1px solid green;
  }

  h4 {
    margin: 0;
  }
}
