@import "compass/utilities/links/unstyled-link";

.course {
  cursor: move;
}

#semesters {
  float: left;
  width: 65%;

  .completed legend {
    color: green;
  }

  .in_progress legend {
    color: darken(yellow, 15%);
  }

  fieldset {
    overflow: auto;
    background: white;
  }

  legend {
    font-weight: bold;

    a {
      @include unstyled-link;
      padding: 1px 4px;
      margin-top: 3px;
      display: inline-block;

      &:hover {
        padding: 0 3px;
        border: 1px solid black;
        background: lighten(yellow, 40%);
      }
    }
  }

  .links {
    clear: both;
  }

  $block_height: 225px;
  $block_width: 272px;

  .courses {
    overflow-y: auto;
    height: $block_height - 60px;
  }

  .course {
    padding: 1px;

    &.selected {
      padding: 0;
      background: lighten(green, 65%);
      border: 1px solid green;
    }

    .name {
      width: 148px;
      display: inline-block;
    }
  }

  .course .units {
    display: inline-block;
    width: 15px;
    text-align: center;
  }

  .semester {
    height: $block_height;
    margin: 5px 5px 10px 5px;
    width: $block_width;
    float: left;
  }

  .ui-state-highlight {
    height: 20px;
    width: 98%;
    display: inline-block;
  }
}

#majors {
  float: right;
  width: 33%;

  dt {
    font-weight: bold;
  }

  ul {
    display: none;
  }

  .req {
    margin: 2px;
    margin-left: 15px;

    &.completed {
      display: none;
    }
  }

  .name {
    width: 100%;
    display: inline-block;
    padding: 3px;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: lighten(black, 50%);
    }
  }

  h4 {
    margin: 0;
  }
}
