<% javascript 'rails' %>

<h1>Listing Majors</h1>

<%= link_to '[new major]', new_major_path %>

<div class='majors'>
  <% @arranged.each do |major, children| %>
    <%= render major, :children => children %>
  <% end %>
</div>

<%= paginate @majors %>
