<% stylesheet 'login' %>

<div class='login'>
  <div class='providers'>
    <%= link_to image_tag('facebook_256.png'),
          user_omniauth_authorize_path(:facebook) %>

    <%= link_to image_tag('google_256.png'),
        user_omniauth_authorize_path(:open_id,
          :openid_url => 'https://www.google.com/accounts/o8/id') %>
  </div>

  <div class='note'>
    Note: we just use this to identify you.
  </div>
</div>
