//= require jquery/tokeninput

@import "compass";
@import "icons";

form {
  dt { width: 6.5em; }
  dd { margin-left: 7em; position: relative; padding-right: 20px; }
  dd img { position: absolute; right: -2px; top: 2px; }

  dl.top {
    float: left;
    font-size: 16px;

    &:nth-of-type(even) {
      border-left: 1px solid black;
      margin-left: 20px;

      dt { width: 8.5em; }
      dd { margin-left: 9em; }
    }
  }

  .saving {
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 20px;
  }

  .saving { background-image: image-url('ajax-small.gif'); }
  .saving.good { background-image: image-url('icon/accept.png') }
  .saving.error { background-image: image-url('icon/exclamation.png') }
}

#groups {
  clear: both;
}

.requirement-group {
  border: 3px solid black;
  @include border-radius(20px);
  margin-bottom: 15px;
  min-height: 60px;
  position: relative;

  &.hiding .content {
    display: none;
  }

  .show-hide {
    right: 10px;
    bottom: 10px;
  }
}

legend {
  font-size: 16px;
  padding: 10px;
  margin-left: 20px;
}

input {
  font-size: 16px;
}

.requirement {
  overflow: auto;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px dashed #888;

  .name, .input { padding-right: 25px }
  .input { display: inline-block; }
  .name input { width: 215px; }

  .info {
    float: left;
    width: 250px;
  }

  .required {
    padding-top: 5px;
    width: 200px;

    input[type=text] {
      width: 50px;
    }
  }

  .remove {
    float: right;
  }

  .courses {
    float: right;
    padding-right: 25px;

    label {
      font-size: 15px;
    }

    ul {
      width: 520px;
    }
  }
}
