@import "compass";

.icon-accept { @include replace-text-with-dimensions('icon/accept.png'); }
.icon-add { @include replace-text-with-dimensions('icon/add.png'); }
.icon-add_page { @include replace-text-with-dimensions('icon/add_page.png'); }
.icon-download { @include replace-text-with-dimensions('icon/download.png'); }
.icon-email { @include replace-text-with-dimensions('icon/email.png'); }
.icon-exclamation { @include replace-text-with-dimensions('icon/exclamation.png'); }
.icon-info { @include replace-text-with-dimensions('icon/info.png'); }
.icon-process { @include replace-text-with-dimensions('icon/process.png'); }
.icon-puzzle { @include replace-text-with-dimensions('icon/puzzle.png'); }
.icon-refresh { @include replace-text-with-dimensions('icon/refresh.png'); }
.icon-remove { @include replace-text-with-dimensions('icon/remove.png'); }
.icon-scheduleman { @include replace-text-with-dimensions('icon/scheduleman.png'); }
.icon-search { @include replace-text-with-dimensions('icon/search.png'); }
.icon-tool { @include replace-text-with-dimensions('icon/tool.png'); }
.icon-up { @include replace-text-with-dimensions('icon/up.png'); }

.links a, .course .icon-info, .course .icon-remove {
  display: inline-block;
  @include hide-text;
}

a.show-hide {
  position: absolute;
  display: block;
  @include hide-text;

  @include replace-text-with-dimensions('icon/up.png');
  &.other {
    @include replace-text-with-dimensions('icon/download.png');
  }
}

.completed a.show-hide, .hiding a.show-hide {
  @include replace-text-with-dimensions('icon/download.png');

  &.other {
    @include replace-text-with-dimensions('icon/up.png');
  }
}

a.icon-add.other {
  opacity: 0.5;
}
